*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;

}
body{
 
  color: white;
  background-color: black;
}
.container{
   display: flex;
  align-items: center;
  flex-direction: column;
}
nav{
  width: auto;
  height: auto;
  padding: 10px;
  /* background-color: blue; */
  text-align: center;
  font-size: 30px;
}
.total-tr{
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba( 255, 255, 255, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 2px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

}
.total-bl{
  width: 45%;
  height: 20vh;
  margin: 20px;
  padding: 20px;
  font-size: 25px;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
.input-field{
  width: 45%;
  height: 20vh;
  margin: 20px;
  padding: 20px;

  /* background-color: tomato; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.input-field input{
  width: 80%;
  margin: 10px;
text-transform: capitalize;
  padding: 10px;
  font-weight: 600;
  outline: none;
  border: none;
  border-bottom:1px solid black ;
}
.transactions{
  width: 90%;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.input-field button{
  width: 80%;
  margin-top: 10px;
  padding: 5px;
  font-weight: 800;
  background-color: green;
  border: none;
  color: white;
  border-radius: 2px;
  font-size: 18px;
}
.income{
  width: 49%;
  height: auto;
  padding: 20px;
  margin: 15px 0;
  font-size: 25px;
  /* background-color: tomato; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba( 255, 255, 255, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

}
.income h1{
  color: green;
}
.expense{
  width: 49%;
  padding: 20px;
  margin: 15px 0;
  font-size: 25px;
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba( 255, 255, 255, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.expense h1{
  color: red;
}
#recent-tr{
  font-size: 20px;
  margin: 10px;
}
.tr-list{
  width: 90%;
  padding: 15px;
  font-size: 20px;
  text-transform: uppercase;
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 0px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.tr-list li{
  width: 100%;
  list-style: none;
  margin: 5px;

  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 0px;
  border: 1px solid rgba( 255, 255, 255, 0.18 ); 

}
.income-li{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.income-li h1{
  background-color: green;
  padding: 5px;
  border-radius: 5px;
}

.expense-li{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.expense-li h1{
  background-color: red;
  padding: 5px;
  border-radius: 5px;
}
.dlbtn{
 font-size: 25px;
  padding: 5px;
  margin-right: 10px;
  border: none;
  color: white;
  border-radius: 5px;
  background-color: red;
}

@media (max-width:768px){

  nav{
      width: 80%;
      padding: 5px;
      font-size: 15px;
  }
  .total-tr{
      width: 98%;
      height: auto;
      padding: 10px;
      display: flex;
   flex-direction: column;
  }

  .total-bl{
      width: 100%;
      margin: 0px;
      padding: 0px;
     
  }
  .input-field{
      width: 90%;
      margin: 0px;
      margin: 25px 0;
      padding: 0px;
  }

  .input-field input{
      width: 95%;
  }
  
.input-field button{
  width: 95%;
  
}
  
.transactions{
  width: 98%;
  margin: 10px 0;
}

.income{
  padding: 10px;
  margin:  0;
  display: block;
  padding: 6px;
}
.income h2{
font-size: 20px;
}

.expense{
  padding: 10px;
  margin:  0;
  display: block;
  padding: 6px;
}
.expense h2{
  font-size: 20px;

}

.tr-list{
  width: 100%;
  padding: 5px;
  font-size: 15px;
 
}

.tr-list li{
  width: 100%;
  margin: 5px;
}
.income-li{
  width: 90%;
}
.income-li h1{
  padding: 2px;
  border-radius: 5px;
  font-size: 18px;
}

.expense-li{
  width: 90%;

}

.expense-li h1{
  padding: 2px;
  border-radius: 5px;
  font-size: 18px;
}
.dlicon{
 font-size: 15px;
  padding: 3px;
  margin-right: 10px;
  border-radius: 5px;
}

}